@use './colors' as *;

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Poppins', sans-serif;
	background: $red url('../images/bg-intro-mobile.png') top center/contain
		no-repeat;
	color: $white;
}

.box {
	margin: 50px auto;
	width: 85%;
	text-align: center;

	&__heading {
		font-size: 28px;
		line-height: 1.25;
	}

	&__description {
		margin: 20px 0;
	}

	&__price {
		padding: 20px 50px;
		background-color: $blue;
		border-radius: 8px;
		box-shadow: 0px 7px 2px 0px hsla(249, 10%, 26%, 0.3);

		span {
			font-weight: bold;
		}
	}

	form {
		position: relative;
		margin-top: 20px;
		padding: 10px 0;
		width: 100%;
		background-color: $white;
		border-radius: 8px;
		box-shadow: 0px 7px 2px 0px hsla(249, 10%, 26%, 0.3);

		.form-box input,
		.submit-btn {
			margin-top: 20px;
			height: 50px;
			width: 90%;
			font-family: 'Poppins', sans-serif;
			letter-spacing: 1px;
			font-weight: bold;
		}

		.form-box input {
			padding-left: 20px;
			border: 1px solid $grayishblue;
			border-radius: 5px;
		}

		.form-box.error input {
			border: 1px solid $red;
			background-color: hsla(0, 100%, 74%, .2);
			background-image: url('../images/icon-error.svg');
			background-repeat: no-repeat;
			background-position: 99% center;
		}

		.form-box .error-text {
			margin: 10px 40px 0 0;
			text-align: right;
			font-size: 12px;
			font-style: italic;
			color: $red;
			visibility: hidden;
		}
		
		.form-box.error .error-text {
			visibility: visible;
		}

		.submit-btn{
			display: inline-block;
			text-transform: uppercase;
			background-color: $green;
			color: $white;
			border: none;
			border-radius: 5px;
			box-shadow: 0px 4px 2px 0px hsl(154, 66%, 41%);
			transition: background-color 0.3s;
			cursor: pointer;
		}

		.submit-btn:hover {
			background-color: $lightgreen;
		}
	}

	&__info {
		margin: 20px auto;
		width: 80%;
		font-size: 11px;
		font-weight: 600;
		color: $grayishblue;

		span {
			color: $red;
            cursor: pointer;
		}
	}
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;

	.attribution {
		font-size: 11px;
		text-align: center;
	}
	.attribution a {
		color: $blue;
	}
}

@import './desktop';
